body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #1a1919e3, #8d8c8c00);
    color: #333;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: #444;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #077c2a;
    color: white;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #056d648a;
}

#songContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
    text-align: left;
    max-width: 600px;
    height: 160px;
    margin: 20px auto;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
}

input[type="text"], input[type="url"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px); 
}

input:focus {
    border-color: #ff7e5f;
    outline: none;
}

#formMessage {
    color: green;
    margin-top: 10px;
}

p {
    margin: 5px 0;
}

a {
    color: #ff7e5f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px); 
    resize: vertical;
}

textarea:focus {
    border-color: #ff7e5f;
    outline: none;
}

#songContainer button {
    margin-right: 10px;
}
